
@{
    ViewData["Title"] = "CreateMenu";
}

<style>
    .button {
        height: 40px;
        width: 150px;
        margin: 3px;
    }

    .button-base{
        /*background-color: #F4F5F5;*/
    }

    .span{
        width:50px;
    }
</style>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#button10").focus();
    });

    //按钮类型变化
    function buttonTypeChanged() {
        switch ($("#buttonType").val()) {
            case "singleClick":
                $("#keyDiv").show();
                $("#urlDiv").hide();
                $("#appidDiv").hide();
                $("#pagepathDiv").hide();
                break;
            case "singleLocationSelect":
                $("#keyDiv").show();
                $("#urlDiv").hide();
                $("#appidDiv").hide();
                $("#pagepathDiv").hide();
                break;
            case "singlePicPhotoOrAlbum":
                $("#keyDiv").show();
                $("#urlDiv").hide();
                $("#appidDiv").hide();
                $("#pagepathDiv").hide();
                break;
            case "singlePicSysPhoto":
                $("#keyDiv").show();
                $("#urlDiv").hide();
                $("#appidDiv").hide();
                $("#pagepathDiv").hide();
                break;
            case "singlePicWeixin":
                $("#keyDiv").show();
                $("#urlDiv").hide();
                $("#appidDiv").hide();
                $("#pagepathDiv").hide();
                break;
            case "singleProgram":
                $("#keyDiv").hide();
                $("#urlDiv").show();
                $("#appidDiv").show();
                $("#pagepathDiv").show();
                break;
            case "singleScanCodePush":
                $("#keyDiv").show();
                $("#urlDiv").hide();
                $("#appidDiv").hide();
                $("#pagepathDiv").hide();
                break;
            case "singleScanCodeWaitMsg":
                $("#keyDiv").show();
                $("#urlDiv").hide();
                $("#appidDiv").hide();
                $("#pagepathDiv").hide();
                break;
            case "singleView":
                $("#keyDiv").hide();
                $("#urlDiv").show();
                $("#appidDiv").hide();
                $("#pagepathDiv").hide();
                break;
        }
    }

    //保存按钮设置
    function saveButton() {
        var text = "";
        switch ($("#buttonType").val()) {
            case "singleClick":
                text = "key:" + $("#key").val();
                break;
            case "singleLocationSelect":
                text = "key:" + $("#key").val();
                break;
            case "singlePicPhotoOrAlbum":
                text = "key:" + $("#key").val();
                break;
            case "singlePicSysPhoto":
                text = "key:" + $("#key").val();
                break;
            case "singlePicWeixin":
                text = "key:" + $("#key").val();
                break;
            case "singleProgram":
                text = "url:" + $("#url").val() + ",appid:" + $("#appid").val() + ",pagepath:" + $("#pagepath").val();
                break;
            case "singleScanCodePush":
                text = "key:" + $("#key").val();
                break;
            case "singleScanCodeWaitMsg":
                text = "key:" + $("#key").val();
                break;
            case "singleView":
                text = "url:" + $("#url").val();
                break;
        }
        console.log(text);
        $("#" + $("#thisOpInputId").val() + "Hidden").val(text);
    }

    //输入点击
    function buttonInputFocused(ipt) {
        console.log($(ipt).attr("id"));
        $("#thisOpInputId").val($(ipt).attr("id"));
        buttonTypeChanged();
    }
</script>

<h2>CreateMenu</h2>

<div class="container-fluid">
    @* 第一列 *@
    <div id="col1" style="float:left;">
        <span style="padding-left:85px;">第一列</span><br />
        <span class="span">二级菜单No.5</span>
        <input id="button15" name="button15" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button15Hidden"/>
        <span class="span">二级菜单No.4</span>
        <input id="button14" name="button14" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button14Hidden" />
        <span class="span">二级菜单No.3</span>
        <input id="button13" name="button13" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button13Hidden" />
        <span class="span">二级菜单No.2</span>
        <input id="button12" name="button12" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button12Hidden" />
        <span class="span">二级菜单No.1</span>
        <input id="button11" name="button11" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button11Hidden" />
        <span class="span">一级菜单按钮</span>
        <input id="button10" name="button10" type="text" class="button button-base" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button10Hidden" />
    </div>
    @* 第二列 *@
    <div id="col2" style="float:left;">
        <span>第二列</span>
        <br />
        <input id="button25" name="button25" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button25Hidden" />
        <input id="button24" name="button24" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button24Hidden" />
        <input id="button23" name="button23" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button23Hidden" />
        <input id="button22" name="button22" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button22Hidden" />
        <input id="button21" name="button21" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button21Hidden" />
        <input id="button20" name="button20" type="text" class="button button-base" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button20Hidden" />
    </div>
    @* 第三列 *@
    <div id="col3" style="float:left;">
        <span>第三列</span>
        <br />
        <input id="button35" name="button35" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button35Hidden" />
        <input id="button34" name="button34" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button34Hidden" />
        <input id="button33" name="button33" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button33Hidden" />
        <input id="button32" name="button32" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button32Hidden" />
        <input id="button31" name="button31" type="text" class="button" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button31Hidden" />
        <input id="button30" name="button30" type="text" class="button button-base" onfocus="buttonInputFocused(this);" /><br />
        <input type="text" hidden="hidden" id="button30Hidden" />
    </div>
</div>
<div class="container-fluid">
    <input type="text" hidden="hidden" id="thisOpInputId" />
    <select id="buttonType" name="buttonType" class="dropdown" onchange="buttonTypeChanged();">
        <option value="singleClick">单击按钮</option>
        <option value="singleLocationSelect">地理位置选择按钮</option>
        <option value="singlePicPhotoOrAlbum">拍照或图片选择按钮</option>
        <option value="singlePicSysPhoto">系统相机按钮</option>
        <option value="singlePicWeixin">微信相册按钮</option>
        <option value="singleProgram">小程序按钮</option>
        <option value="singleScanCodePush">打开扫一扫工具</option>
        <option value="singleScanCodeWaitMsg">打开扫一扫弹出”消息接收中“按钮</option>
        <option value="singleView">链接按钮</option>
    </select>
    <button id="save" onclick="saveButton();" class="btn btn-primary">保存</button>
    <div>
        <div id="keyDiv">
            key:<input type="text" id="key" /><br />
        </div>
        <div id="urlDiv">
            url:<input type="text" id="url" /><br />
        </div>
        <div id="appidDiv">
            appid:<input type="text" id="appid" /><br />
        </div>
        <div id="pagepathDiv">
            pagepath:<input type="text" id="pagepath" />
        </div>
    </div>
</div>